* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND */
body {
    background: radial-gradient(circle at top right, #1e3a8a, transparent),
                radial-gradient(circle at top left, #7c3aed, transparent),
                #0b122b;
    color: white;
}

/* HERO */
/* HERO */
.hero {
    height: 300px;
    margin: 15px;
    border-radius:20px;

    background: url('img/hero.jpg') center/
    cover no-repeat;
}

/* FOTO SECTION (FITUR & PROSES) */
.section-image {
    margin: 15px;
    border-radius: 20px;
    overflow: hidden;

    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 0 30px rgba(59,130,246,0.25);
}

.section-image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* FORM */
.form-box {
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.08);
    margin: 20px;
    padding: 18px;
    border-radius: 20px;
}

/* INPUT */
.input-box {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding: 10px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
}

.input-box img {
    width: 20px;
    margin-right: 10px;
}

input, select {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: #e5e7eb;
}

/* BUTTON */
.submit {
    margin-top: 18px;
    width: 100%;
    padding: 13px;
    border-radius: 12px;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;

    background: linear-gradient(135deg, #3b82f6, #7c3aed);
    box-shadow: 0 0 25px rgba(124,58,237,0.6);
}

/* MOBILE */
@media (max-width: 480px) {
    .hero {
        height: 200px;
    }
}
